* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    height: 100%;
=======
>>>>>>> Sprint-3
    font-family: Pangolin;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}  

header {
<<<<<<< HEAD
    flex-shrink: 0;
=======
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
>>>>>>> Sprint-3
    height: fit-content;
}

nav {
<<<<<<< HEAD
    background-color: #1A090D;    /* url('Images/CoffeeBanner.jpg'); */
=======
    background-color: #1A090D;   
>>>>>>> Sprint-3
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding: 1%;
    height: auto;
    text-align: right;

    a       { color: #F8FFFF; }
    a:hover { color: #004AAD}
}

<<<<<<< HEAD




/* ===     HOME PAGE     === */
#homepage {
    /*background-image: ; */
    overflow-y: hidden;
}

.home {
    border: 1px solid #004AAD;
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 60px;
    }

    .home-about {
        border: 1px solid #5DE0E6;
        height: fit-content;
        align-items: center;
    }

    .home-links {
        border: 1px solid #5DE0E6;
        height: fit-content;
        padding-left: 30px;
    }

    img {
        display: block;
        width: 30vw;
        height: 25vh;
        padding: 10px;
    }

    img:hover {
        transform: scale(1.05);
    }

}

.gallery {
    border: 1px solid #004AAD;
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 60px;
    }
=======
.acc-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
>>>>>>> Sprint-3
}