* {
    margin: 0;
    padding: 0;
    font-family: Pangolin;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}  
nav {
    background-color: #1A090D;   
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding: 1%;
    height: auto;
    text-align: right;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;

    a       { color: #F8FFFF;
              text-decoration: none;
              margin-left: 10px;}
    a:hover { color: #004AAD}
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    text-align: left;
    align-items: center;
    display: flex;

    .site-icon {
        width: 3.5vw;
        display: inline-flex;
        margin-left: 20px;
        margin-right: 5px;
    }

    .header h1 {
        top: -100px;
        font-size: 30px;
        display: inline-flex;
    }
}

.acc-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    object-fit: contain;
}