* {
    font-family: "Pangolin", cursive;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Split screen layout */
.wrapper {
    display: flex;
    width: 80%;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Left panel: Branding */
.left-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}

.left-panel h1 {
    font-size: 32px;
    font-weight: bold;
}

.right-panel {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.terms-label {
    font-size: 14px;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    width: 99.5%;
    align-content: center;
    background-color: #004AAD;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

button:hover {
    opacity: 0.9;
    background-color: rgba(71, 128, 193, 0.773);
}

p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

p a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.sign-in{
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
}

.link-sign-in{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}