* {
    margin: 0;
    padding: 0;
    font-family: Pangolin;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}  

header {
    position: sticky;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: fit-content;
}

nav {
    background-color: #1A090D;   
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding: 1%;
    height: auto;
    text-align: right;

    a       { color: #F8FFFF;
              text-decoration: none;
              margin-left: 10px;}
    a:hover { color: #004AAD}
}

.acc-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    object-fit: contain;
}