* {
  font-family: Pangolin, sans-serif;
}

.freedomWall {
  width: 810px;
  height: 580px;
  left: 8%;
  top: 15%;
  position: absolute;
}

.poll {
    width: 450px;
    height: 410px;
    border: 1px solid blue;
    box-sizing: border-box;
    left: 62%;
    top: 15%;
    position: absolute;
}

.spotify {
  width: 450px;
  height: 155px;
  border: 1px solid blue;
  box-sizing: border-box;
  left: 62%;
  top: 74%;
  position: absolute;
}

/* nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
} */

.wall-container {
  position: relative;
  max-width: 700px;
  margin: 30px auto;         /* Centers the container */
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  box-sizing: border-box;
}

.post-box textarea {
  position: relative;
  cursor: text;
  width: 90%;
  height: 65px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  resize: none;
  box-sizing: border-box;
  margin-top: 20px;
}

.post-box button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 656px;
}

.posts-container {
  margin-top: 20px;
  overflow: visible;
  padding-right: 10px;
  margin-right: 90px;
}

.post {
  border-top: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
  padding: 15px 0;
  width: 103%;
  /* margin-top: 10px; */
  box-sizing: border-box;
}

.post-footer {
  border-top: 1px solid black;
}

.message {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  overflow: hidden;
  width: 90%;
}

.collapse{
  max-height: 200px;
}

.postID {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.postID:hover {
  opacity: 0.9px;
  color: lightblue;
  cursor: pointer;
}

.repID {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.repID:hover {
  opacity: 0.9px;
  color: lightblue;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.username {
  max-width: 200px;
  white-space: nowrap;
  word-wrap: break-word;
  font-weight: bold;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.material-symbols-outlined {
  font-size: 25px;
}

.reply-button, .flag-button {
  background-color: white;
  border: none;
}

.material-symbols-outlined:hover {
  opacity: 0.9px;
  color: lightblue;
  cursor: pointer;
}

.reply-button {
  margin-left: 385px;
}

.flag-button {
  margin-left: 16px;
}

.replies {
  border-top: 1px solid #ccc;
  max-width: 100%;
}